  body {
    background-image: url("../assets/image/background.jpg");
    background-attachment: fixed;
  }
  #banner {
    background-image: url("../assets/image/banner.jpg");
    height: 115px;
    background-size: auto;
    background-repeat: repeat-x;
  }
  #fake-navbar {
    height: 76px;
    width: 100%;
    display: none;
  }
  #btn-login {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;

  }
  #btn-login:hover {
    color: white;
    background-color: #f675b3;
    border-color: #f675b3;
  }
  #bg-me {
    padding: 1% !important;
    text-align: right;

  }
  .material-icons{
    padding: 0 2% ;
  }
